<article class='screen' id='editor-screen'>
  <article class='paper'>
    <h1>{{date}}</h1>
    <hr />
    <p>{{prompt}}</p>
    <div class='content-viewer'>{{content}}</div>
    <teatarea class='content-editor'></teatarea>
  </article>
  <div class='date-switcher'>
    <div id='date-back'>
      <img src='/img/back.png' />
    </div>
    <div id='date-today'>HOME</div>
    <div class='hidden'>
      <img src='/img/checked.png'/>
    </div>
    <div id='date-next'>
      <img src='/img/forward.png' />
    </div>
  </div>
</article>