<article class='screen' id='editor-screen'>
  <article class='paper' id='editor'>
    <h1 id='date'></h1>
    <hr />
    <p id='prompt'></p>
    <div class='content-viewer'></div>
    <textarea class='content-editor hidden'></textarea>
  </article>
  <div class='date-switcher'>
    <div id='date-back'>
      <img src='/img/back.png' />
    </div>
    <div id='date-today'>HOME</div>
    <div class='hidden' id='save'>
      <img src='/img/checked.png'/>
    </div>
    <div id='date-next'>
      <img src='/img/forward.png' />
    </div>
  </div>
</article>