<article class='screen' id='main-screen'>
  <div class='paper'>
    <h1>Create a Diary Journal</h1>
    <a href='/id/'>
      <button>CREATE A NEW JOURNAL</button>
    </a>
    <p>
      Note: <br />
      Your journal will be viewable and editable to anyone who has the link!
    </p>
  </div>
</article>